{% extends 'base_theme.html.twig' %}
{% import 'macro/action.html.twig' as action %}

{% block title %}Edit Carrito{% endblock %}

{% block _main %}
    <h1>Edit Carrito</h1>

    {{ include('carrito/_form.html.twig', {'button_label': 'Actualizar'}) }}

    {{ action.btn_regresar(path('app_carrito_index')) }}

    {{ include('carrito/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/collection.js') }}"></script>
    <script>
        jQuery(document).ready(function() {
            Collection.init('#carrito_detalles')
        });
    </script>
{% endblock %}
