{% extends 'base_theme.html.twig' %}
{% import 'macro/action.html.twig' as action %}
{% block title %}Carrito{% endblock %}

{% block _main %}
    <h1>Carrito</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ carrito.id }}</td>
            </tr>
            <tr>
                <th>PrecioTotal</th>
                <td>{{ carrito.precioTotal }}</td>
            </tr>
        </tbody>
    </table>

    {{ action.btn_regresar(path('app_carrito_index')) }}

    {{ action.btn_edit(path('app_carrito_edit', {'id': carrito.id})) }}

    {{ include('carrito/_delete_form.html.twig') }}
{% endblock %}
