{% extends 'base_theme.html.twig' %}
{% import 'macro/action.html.twig' as action %}


{% block title %}Cliente index{% endblock %}

{% block _main_footer %}
    {{ action.btn_new(path('app_cliente_new')) }}
{% endblock %}

{% block _main %}
    <h1>Cliente </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.id }}</td>
                <td>{{ cliente.userName }}</td>
                <td>{{ cliente.Nombre }}</td>
                <td>{{ cliente.Apellido }}</td>
                <td>{{ cliente.Dni }}</td>

                <td>
                    {{ action.btn_show(path('app_cliente_show', {'id': cliente.id})) }}
                    {{ action.btn_edit(path('app_cliente_edit', {'id': cliente.id})) }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
