{% extends 'base_theme.html.twig' %}
{% import 'macro/action.html.twig' as action %}

{% block title %}Cliente{% endblock %}

{% block _main %}
    <h1>Cliente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cliente.id }}</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>{{ cliente.userName }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ cliente.Nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ cliente.Apellido }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ cliente.Dni }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ cliente.Telefono }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ cliente.Correo }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ cliente.Direccion }}</td>
            </tr>
        </tbody>
    </table>

    {{ action.btn_regresar(path('app_cliente_index')) }}

    {{ action.btn_edit(path('app_cliente_edit', {'id': cliente.id})) }}

    {{ include('cliente/_delete_form.html.twig') }}
{% endblock %}
