{% extends 'base_theme.html.twig' %}
{% import 'macro/action.html.twig' as action %}

{% block title %}Producto index{% endblock %}
{% block _main_footer %}
    {{ action.btn_new(path('app_producto_new')) }}
{% endblock %}

{% block _main %}
    <h1>Producto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Categoria</th>
                <th>Marca</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id }}</td>
                <td>
                    {% if producto.foto %}
                        <a href="{{ producto.foto|file_upload_webpath }}" target="_blank">
                            <img src="{{ producto.foto|file_upload_webpath }}"alt="Foto" height="40px">
                        </a>

                    {% endif %}
                </td>
                <td>{{ producto.nombre }}</td>
                <td class="text-uppercase">{{ producto.categoria }}</td>
                <td class="text-uppercase">{{ producto.marca }}</td>
                <td>{{ producto.precio }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.descripcion }}</td>
                <td >
                    {{ action.btn_show(path('app_producto_show', {'id': producto.id})) }}
                    {{ action.btn_edit(path('app_producto_edit', {'id': producto.id})) }}
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
