{% extends 'base_theme.html.twig' %}
{% import 'macro/action.html.twig' as action %}

{% block title %}Producto{% endblock %}

{% block _main %}
    <h1>Producto</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ producto.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ producto.nombre }}</td>
            </tr>
            <tr>
                <th>Precio</th>
                <td>{{ producto.precio }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ producto.stock }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ producto.descripcion }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                <td>
                    <img src="{{ producto.foto|file_upload_webpath }}" alt="Foto" height="75px">
                </td>
            </tr>
            <tr>
                <th>Imagenes</th>
                <td>
                    {% if producto.imagenes %}
                    {% for imagen in producto.imagenes %}
                        <img src="{{ imagen|file_upload_webpath }}" alt="Foto" height="75px">
                    {% endfor %}
                </td>
            </tr>



            {% endif %}
        </tbody>
    </table>

    {{ action.btn_regresar(path('app_producto_index')) }}

    {{ action.btn_edit(path('app_producto_edit', {'id': producto.id})) }}



    {{ include('producto/_delete_form.html.twig') }}
{% endblock %}
