{% extends 'front.html.twig' %}

{% block title %}Hello FrontController!{% endblock %}

{% block _main %}
    <div class="ps-home-banner">
        <div class="ps-carousel--nav-inside owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000" data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
            <div class="ps-banner--technology" data-background="{{ asset(_theme~'img/slider/home-10/1.jpg') }}"><img src="{{ asset(_theme~'img/slider/home-10/1.jpg')}}" alt="">
                <div class="ps-banner__content">
                    <h4>Weekend Promotions</h4>
                    <h3>Mini Helicopter <br /> Mini Helicopter <br /> sale<strong> 40% Off</strong></h3><a class="ps-btn" href="#">Shop Now</a>
                </div>
            </div>
            <div class="ps-banner--technology" data-background="{{ asset(_theme~'img/slider/home-10/2.jpg')}}"><img src="{{ asset(_theme~'img/slider/home-10/2.jpg')}}" alt="">
                <div class="ps-banner__content">
                    <h4>Weekend Promotions</h4>
                    <h3>iLuv Aud Mini & <br /> Ultra Slim Pocket-Sized <br /> speaker just<strong> 40% Off</strong></h3><a class="ps-btn" href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-site-features">
        <div class="container">
            <div class="ps-block--site-features ps-block--site-features-2">
                <div class="ps-block__item">
                    <div class="ps-block__left"><i class="icon-rocket"></i></div>
                    <div class="ps-block__right">
                        <h4>Delivery gratis</h4>
                        <p>Para las entregas mayores de S/1000.00/p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left"><i class="icon-sync"></i></div>
                    <div class="ps-block__right">
                        <h4>90 Dias para devolución</h4>
                        <p>Si es producto tiene problemas</p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left"><i class="icon-credit-card"></i></div>
                    <div class="ps-block__right">
                        <h4>Pago seguro</h4>
                        <p>Pago 100% seguro</p>
                    </div>
                </div>
                <div class="ps-block__item">
                    <div class="ps-block__left"><i class="icon-bubbles"></i></div>
                    <div class="ps-block__right">
                        <h4>Soporte 24/7</h4>
                        <p>Soporte especializado</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ps-product-list">
        <div class="container">
            <div class="ps-section__header">
                <h3>Populares</h3>
                <ul class="ps-section__links">

                    {% for marca in dataMarcas() %}
                        <li>
                            <a href="{{ path('app_front_marca', {'id': marca.id}) }}">{{ marca.nombre }} </a>

                        </li>
                    {% endfor %}

                </ul>


                

            </div>
            <div class="ps-section__content">
                <div class="ps-carousel--nav owl-slider" data-owl-auto="false" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="true" data-owl-item="5" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="5" data-owl-duration="1000" data-owl-mousedrag="on">
                    {% for producto in productos %}
                        <div class="ps-product">
                            <div class="ps-product__thumbnail">
                                <a href="{{ path('app_front_product',{id:producto.productoId}) }}">
                                    <img src="{{ asset('upload/'~producto.fotoNombre) }}" alt="" />
                                </a>
                                <div class="ps-product__badge">11%</div>
                                <ul class="ps-product__actions">
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Read More"><i class="icon-bag2"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Quick View" data-toggle="modal" data-target="#product-quickview"><i class="icon-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__container">
                                <div class="ps-product__content">
                                    <a class="ps-product__title" href="#">
                                        {{ producto.productoNombre}}
                                    </a>
                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span>01</span>
                                    </div>
                                    <p class="ps-product__price sale">S/{{ producto.productoPrecio}} <del>S/{{ producto.productoPrecio + 100}}</del></p>
                                </div>
                                <div class="ps-product__content hover">
                                    <a class="ps-product__title" href="{{ path('app_front_product',{id:producto.productoId}) }}">
                                        {{producto.productoNombre}}
                                    </a>
                                    <p class="ps-product__price sale">S/{{ producto.productoPrecio}} <del>S/{{ producto.productoPrecio + 100}}</del></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}
