{% import 'macro/action.html.twig' as action %}

{{ form_start(form) }}
    {{ form_row(form.fecha) }}
    {{ form_row(form.precioTotal) }}
    {{ form_row(form.cliente) }}
    {{ form_row(form.metodoPago) }}
    {{ action.column_collection(form.detalles) }}
<button class="btn btn-warning">{{ button_label|default('Guardar') }}</button>
{{ form_end(form) }}
