{% extends 'base_theme.html.twig' %}

{% import 'macro/action.html.twig' as action %}

{% block title %}Edit Orden{% endblock %}

{% block _main %}
    <h1>Edit Orden</h1>

    {{ include('orden/_form.html.twig', {'button_label': 'Pagar'}) }}

    {{ action.btn_regresar(path('app_orden_index')) }}

    {{ include('orden/_delete_form.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/collection.js') }}"></script>
    <script>
        jQuery(document).ready(function() {
           // Collection.init('#orden_detalles')
            $('#orden_precioTotal').prop('readOnly',true);
        });

    </script>
{% endblock %}
